<form action="/user/create" method="POST" id="sign-up-form" class="form-signin">
	<h2 class="form-signin-heading">you're posting a Entry... </h2>

	
	<div class="control-group">
	<input type="text" class="form-control" placeholder="your name" name="name">
	</div>

	<div class="control-group">
	<input type="text" class="form-control" placeholder="email address" name="email">
	</div>

	<br />
	<br />

	<% _.each(masters, function(master) { %>
	<div class="control-group">
		<label><%= master.name %></label>
		<select name="bet_<%= master.code %>" id="bet_<%= master.code %>" class="form-control">
		</select>
	</div>
	<% }) %>

	<br />

	<input type="submit" id="submit" class="btn btn-lg btn-primary btn-block" value="Create Account"/>
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />
	<input type="hidden" name="bet" id="bet" value="" />
</form>
